/* font-family: 'Comfortaa', cursive;
font-family: 'Muli', sans-serif;
font-family: 'Ubuntu', sans-serif; */

@import url('https://fonts.googleapis.com/css2?family=Sacramento&display=swap');

* {
    background-color: #121212;
    margin: 0;
    padding: 0;
    color: #fff;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 10%;
    background-color: hsl(0, 0%, 12%);
    border-radius: 10px;
    margin: 1%;
}

.brand-logo{
    width: 200px;
}

.brand-logo:hover{
    cursor: pointer;
}

nav a,button {
    color: #FFFFFF;
    padding: 10px;
    text-decoration: none;
    font-family: 'Comfortaa', 'Muli', 'Ubuntu', sans-serif, cursive, system-ui;
    border: #fff solid 1px;
    border-radius: 5px;
    transition: all 0.2s ease-in-out 0s;
}

nav a:hover {
    color: #03dac6;
    background-color: #000;
    font-size: 20px;
}

header button:hover {
    color: #ffff00;
    cursor: pointer;
    background-color: #000;
}

nav a {
    margin: 10px;
}

nav {
    background-color: hsl(0, 0%, 12%);
}

.active {
    background-color: #fff;
    color: #000;
}

.intro-container {
    display: block;
    margin: 0 auto;
    width: 70%;
    font-size: 50px;
}

.hi {
    font-family: 'Pacifico', sans-serif;
    font-size: 60px;
}


.intro {
    font-family: 'Comfortaa';
    padding: 10px 0;
    margin-bottom: 10px;
}

.interests {
    background-color: rgba(30, 30, 30, 0.8);
    font-size: 20px;
    font-family: 'Comfortaa';
    border: #FFFFFF;
    border-radius: 50px;
    padding: 10px;
    transition: color 0.2s ease-in-out 0s, font-size 0.2s ease-in-out 0s;

}

.interests:hover {
    color: #fa7d09;
    font-size: 22px;
}

.name {
    color: #03dac6;
    transition: color 0.2s ease-in-out 0s, font-size 0.2s ease-in-out 0s;
}

.name:hover {
    color: #ffff00;
    font-size: 55px;
}

.interests-container {
    font-size: 20px;
    margin: 10px, 0;
}

.icons {
    display: flex;
    margin: 5% auto;
    width: 70%;
    font-size: 50px;
}

div svg {
    background-color: #FFFFFF;
    padding: 10px;
    border: #FFFFFF solid 1px;
    border-radius: 30%;
    margin: 0 10px;
    opacity: 0.8;
    transition: background-color 0.3s ease 0s, transform 0.3s ease-in-out 0s;
}

div svg:hover{
    border: #ffff00 solid 1px;
    border-radius: 50%;
    opacity: 1;
    transform: rotate(360deg);
    transform: scale(1.5, 1.5);
}

/* About */

.profile-img{
    border-radius: 50%;
    width: 250px;
    margin: auto;
}

.out-shell{
    background-color: #8a8181;
    padding: 20px;
    border-radius: 50%;
    margin: auto;
    animation: aura 3s ease-in infinite;
}
@keyframes aura{
    0%{
        background-color: #121212;
    }
    50%{
        background-color: #928383;
    }
    100%{
        background-color: #8a8181;
    }
}

.outer-shell{

    background-color: #5a5252;
    padding: 25px;
    border-radius: 50%;
    margin: auto;
    animation: aura-outer 3s ease-in infinite;
}
@keyframes aura-outer{
    0%{
        background-color: #121212;
    }
    50%{
        background-color: #3c3838;
    }
    100%{
        background-color: #5a5252;
    }
}
.outest-shell{
    
    background-color: #1e1e1e;
    padding: 30px;
    border-radius: 50%;
    margin: auto;
    animation: aura-outest 3s ease-in infinite;
}
@keyframes aura-outest{
    0%{
        background-color: #121212;
    }
    50%{
        background-color: #1b1b1b;
    }
    100%{
        background-color: #1e1e1e;
    }
}

.bio{
   flex : 2;
   padding: 20px;
   
}

.profile-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 10px;
    padding: 20px 0px;
}

.profile-img-container{
    padding: 10px;   
}

.cnt-heading{
    font-family: 'Comfortaa', 'Muli', 'Ubuntu', sans-serif, cursive, system-ui;
    font-size: 40px;
    padding: 20px;
    color: #03dac6;
    transition: color 0.2s ease-in 0s, font-size 0.2s ease-in 0s;
    opacity: 0.8;
}

.cnt-heading:hover{
    color: #fff;
    font-size: 45px;
    opacity: 1;  
}

.bio p{
    margin: 20px 0px;
    padding: 10px 0px;
    color: #fff;
    font-family:  'Muli', 'Ubuntu', sans-serif, cursive, system-ui;
    font-size: 20px;
}

#classy-line{
   
    background-color: #1e1e1e;
    padding: 10px;
    margin: 10px 0px;
    opacity: 0.7;
    font-family: "Pacifico";
    font-size: 20px;
    border-radius: 10px;
}
#classy-line:hover{
    opacity: 1;
    cursor: default;
}

.cnt-sub-heading{
    margin: 10px 20px;
    font-family: 'Comfortaa', 'Muli', 'Ubuntu', sans-serif, cursive, system-ui;
    color : #ffff00;
}

.skills ul{
    display: flex;
    flex-direction: row;
    list-style-type: none;

}

.skills li{
    background-color: #1e1e1e;
    padding: 10px;
    margin: 10px 20px;
    border-radius: 10px;
    font-family:'Comfortaa', 'Muli', 'Ubuntu', sans-serif, cursive, system-ui;
}


.skills li:hover {
    color: #fa7d09;
    font-size: 20px;
}